$cl-bg: rgb(29, 29, 29);
$general-padding: 3vw;
$cl-secondary: rgb(35, 35, 35);
$cl-custom-gray: #D9D9D9;
$cl-primary: rgb(255, 160, 239);
$cl-primary-brighter: #FFEFEF;
$cl-custom-orange: #E45E12;
$cl-custom-orange-low-opacity: #e45f125c;
$cl-custom-orange-brighter: rgba(189, 100, 48, 0.256);
$cl-custom-green: #34C700;
$cl-success: green;
$cl-success-bg: rgb(197, 235, 197);
$cl-danger: red;
$cl-danger-bg: rgb(223, 172, 172);
$cl-custom-bright-blue: #00D1FF;


$cl-my-message-bg: rgb(247, 88, 221);
$cl-my-message-text: white;

$cl-message-bg: white;
$cl-message-text: black;

$sidebar-navbar-height: 50px;