.create-room-container {
    width: 500px;
    padding: 80px 50px;
    $cl-create-room-bg: #1B1B1B;
    background-color: $cl-create-room-bg;


    .next,
    .back {
        color: $cl-custom-orange;
        position: absolute;
        top: 15px;

        &:disabled {
            color: $cl-custom-orange-low-opacity;
            cursor: default
        }
    }

    .next {
        right: 30px;
    }
    .back {
        left: 30px;
    }

    .page1 {
        input[type=search] {
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 7px 25px;
            font-size: .8em;
            margin-bottom: 60px;
        }
        .friends {
            flex-direction: column;
            display: flex;
            gap: 25px;


            .friend-container {
                position: relative;
                width: 100%;
                height: 34px;
                border-left: 3px solid $cl-custom-orange;
                background-color: #202020;
                display: flex;
                align-items: center;

                
                input[type=checkbox] {
                    display: none;

                    &:checked + label.friend::after {
                        background-color: $cl-custom-orange;
                    }
                    &:checked + label.friend {
                        background-color: $cl-custom-orange-brighter;
                    }
                }
                
                // label
                .friend {
                    padding-inline: 30px;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    cursor: pointer;
        
                    img {
                        width: 45px;
                        border-radius: 50%;
                        margin-right: 20px;
                    }

                    .username {
                        font-weight: 400;
                        font-size: .9em;
                    }

                    &::after {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 7px;
                        aspect-ratio: 1 /1;
                        content: '';
                        border: 1px solid $cl-custom-orange;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .page2 {
        display: flex;
        flex-direction: column;
        position: relative;

        form {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            input {
                width: 100%;
                padding: 4px 20px;
                
                &[type=text] {
                    background-color: transparent;
                    margin-bottom: 6px;
                    border: none;
                    color: white;
                    background-color: $cl-custom-orange;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.57);
                    }
                }
            }

            
            .members-list {

                font-size: .8em;
                margin-bottom: 50px;

                .member-list-title {
                    display: block;
                    width: 100%;
                    background-color: rgba(252, 247, 247, 0.254);
                    height: 1px;
                    margin-block: 10px;
                    margin-bottom: 10px;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "members";
                        left: 20px;
                        background-color: $cl-create-room-bg;
                        font-size: .7em;
                        font-weight: 500;
                        top: 50%;
                        transform: translateY(-50%);
                        padding-inline: 10px;
                        color: rgba(255, 255, 255, 0.543);
                    }
                }
                .member {
                    color: rgb(161, 161, 250);
                }
            }
        }

    }
}