#home {
    padding: 5vw 7vw;
    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    gap: 3vw;

    $default-height: 85vh;

    .float-cover {
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
        z-index: 99999999999;
        transition: 700ms ease-in-out;
        width: 100%;
        height: 100%;
    }


    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        height: $default-height;
        min-width: 350px;


        .search-bar-container {
            height: 60px;
            position: relative;
            background-color: blue;
            background-color: $cl-custom-gray;
            display: flex;
            padding-left: 40px;
            align-items: center;

            button {
                width: 30%;
                border: none;
                background-color: $cl-custom-orange;
                height: 100%;
                font-size: .7em;
                font-weight: bold;
                letter-spacing: 1px;
            }

            input {
                background-color: transparent;
                width: 100%;
                border: none;
            }

            .search-bar-icon {
                position: absolute;
                left: 30px;
            }

            .modal-container {
                position: absolute;
                transform: translateY(-100%);
                top: 0;
                left: 0;
                width: 100%;
                background-color: transparent;
                justify-content: start;
                font-weight: bold;

                &.success {
                    color: rgb(128, 253, 128)
                }
            }

        }

        .sidebar-components-container {
            background-color: white;
            height: 100%;
            position: relative;
            padding: (30px + $sidebar-navbar-height) 40px;
            overflow-y: scroll;

            .nav-bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: $sidebar-navbar-height;
                background-color: $cl-primary-brighter;
                padding: 0px 30px;

                &>ul {
                    list-style: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    justify-content: flex-start;
                    gap: 25px;

                    &>li {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: black;
                        position: relative;

                        button {
                            border-bottom: 3px solid transparent;
                            border-top: 3px solid transparent;
                            height: 100%;
                            color: black;
                            font-size: .74em;

                            &.active {
                                border-bottom: 3px solid $cl-custom-orange;
                            }

                        }
                    }
                }
            }


            // comp/Friends
            .friends-container {
                * {
                    color: black
                }

                .header {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: .5px solid black;
                    padding: 10px 0px;

                    .friends-count-container {
                        font-size: .8em;

                        span:not(.count) {
                            margin-right: 6px
                        }
                    }
                }

                .friends {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding-right: 20px;
                    align-items: center;

                    .friend {
                        width: 100%;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        font-size: .9em;

                        .profile-picture {
                            height: 75px;
                            aspect-ratio: 1 / 1;
                            border-radius: 50%;
                        }

                        .profile-details {

                            .name {
                                font-weight: 700
                            }

                            .status-container {
                                font-size: .8em;

                                span:not(.status) {
                                    margin-right: 6px;
                                }

                                span.status {
                                    &.status-online {
                                        color: #34C700;
                                    }

                                    &.status-offline {
                                        color: #FF0000;
                                    }
                                }
                            }
                        }


                        .actions-container {
                            margin-left: auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 11px;

                            .action {
                                position: relative;

                                &.add-to-room {
                                    top: 2px;
                                }


                                &.more {

                                    &:hover {
                                        .dropdown-menu {
                                            display: block;
                                        }
                                    }

                                    &>.dropdown-menu {
                                        position: absolute;
                                        display: none;
                                        right: 0;
                                        width: 130px;
                                        top: 0;
                                        background-color: transparent;
                                        background-color: none;

                                        &>ul {
                                            width: 100%;
                                            height: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            list-style: none;

                                            li {
                                                background-color: $cl-secondary;
                                                padding: 10px;
                                                width: 120px;
                                                border-bottom: 1px solid rgba(255, 255, 255, 0.304);
                                                cursor: pointer;

                                                &:nth-last-child(1) {
                                                    border-bottom: none;
                                                }

                                                &:hover {
                                                    background-color: $cl-custom-orange;
                                                }

                                                button {
                                                    color: white;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }

                                transform: scale(.9);
                            }
                        }
                    }
                }

            }

            // comp/Rooms
            .rooms-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .card {
                    width: 100%;
                    height: 60px;
                }

                .create-room-btn {
                    background-color: $cl-custom-green;
                    margin-bottom: 17px;

                    svg {
                        transform: scale(.85);
                    }
                }

                .room {

                    padding-inline: 25px;
                    position: relative;
                    background-color: $cl-bg;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    overflow: hidden;
                    z-index: 1;

                    &:not(.current-room) {
                        &::after {
                            transition: .5s;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background-color: lighten($cl-secondary, 20%);
                            z-index: -1;
                            width: 100%;
                            height: 0%;
                            content: '';
                            border-radius: 50% 50% 0% 0%;
                        }

                        cursor: pointer;
                    }


                    &.current-room {
                        background-color: $cl-custom-orange;
                    }

                    &:hover {
                        &::after {
                            height: 180%;
                        }
                    }

                    .title {
                        font-weight: 700;
                        font-size: .95em;
                    }

                    .notifications-container {
                        span:not(.notifications-count) {
                            display: inline-block;
                            width: 3px;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            background-color: $cl-custom-bright-blue;
                        }

                        span.notifications-count {
                            font-weight: 400;
                            font-size: .5em;
                            margin-left: 2px;
                        }
                    }
                }
            }

            // comp/friendRequests
            .friend-requests-container {
                background-color: $cl-secondary;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-block: 20px;

                .no-friend-requests {
                    text-align: center;
                }

                .friend-request {
                    padding: 20px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .user {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;

                        img {
                            border-radius: 50%;
                            ;
                            width: 65px;
                        }

                        .username {
                            font-size: .9em;
                        }
                    }


                    .actions {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        align-items: center;

                        button {
                            font-size: .6em;
                            width: 80px;
                            padding-block: 3px;
                            border-radius: 30px;
                            border: none;

                            &.accept {
                                background-color: $cl-success;

                            }

                            &.reject {
                                background-color: $cl-danger;
                            }
                        }
                    }

                }
            }

        }


        .setting-container {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $cl-bg;
            transform: translate(-50%, 50%);
            width: 80px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 18px;
            border-radius: 50%;
            ;
            aspect-ratio: 1/1;

            button {
                background-color: transparent;
                border: none;
                transition: .3s;
                transform-origin: center;
                transform: scale(.8);


                &:hover {
                    transform: scale(.8) rotate(270deg);
                }
            }
        }

    }


    .no-room {
        height: $default-height;
        background-color: #D9D9D9;
        display: grid;
        width: 100%;
        place-items: center;

        span {
            color: black;
        }

    }

    .chat-screen {
        width: 100%;
        height: $default-height;
        background-color: #D9D9D9;
        position: relative;
        display: grid;
        grid-template-rows: 50px auto 60px;
        $cl-chat-bg: #D9D9D9;
        overflow: hidden;


        #room-info {
            background-color: white;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 9999;
            left: 0;
            overflow-y: scroll;

            .close-button {
                position: absolute;
                left: 11px;
                top: 11px;
                cursor: pointer;
                z-index: 999;

                .close-button-icon {
                    position: relative;
                    width: 10px;
                    height: 10px;

                    span {
                        display: block;
                        position: absolute;
                        background-color: red;
                        transform: translate(-50%, -50%);
                        width: 2px;
                        height: 10px;
                        left: 50%;
                        top: 50%;

                        &:nth-child(1) {
                            transform: rotate(-45deg);
                        }

                        &:nth-child(2) {
                            transform: rotate(45deg);
                            transform-origin: center;
                        }
                    }
                }
            }

            * {
                color: black
            }

            .inner-container {
                width: 100%;
                height: 100%;
                padding-block: 70px;
                width: min(90%, 40%);
                margin-inline: auto;

                &>.header {
                    text-align: center;
                    text-transform: capitalize;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.305);
                    padding-bottom: 20px;
                }

                &>.content-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding-block: 30px;
                    padding-inline: 5px;
                    font-size: .9em;

                    .basic-information {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin-bottom: 30px;

                        .item {
                            .key {
                                font-weight: 500;
                                margin-right: 5px;
                                ;
                            }

                            .value {
                                font-weight: regular;
                                font-size: .9em;
                            }
                        }
                    }

                    .users {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                        padding-block: 40px;
                        gap: 10px;

                        * {
                            color: white
                        }

                        .user {
                            position: relative;
                            padding: 30px;
                            padding-bottom: 15px;
                            background-color: $cl-secondary;
                            display: flex;
                            flex-direction: column;
                            border-radius: 10px;
                            align-items: center;

                            img.profile-picture {
                                width: 70px;
                                aspect-ratio: 1 / 1;
                                border-radius: 50%;
                                margin-bottom: 10px;
                            }

                            .username {
                                font-weight: 500;
                            }

                            .actions {
                                margin-top: 25px;
                                font-size: .6rem;

                                a {
                                    text-decoration: none
                                }

                                font-weight: 300;
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                .see-profile {
                                    color: rgb(233, 165, 253);
                                }
                            }
                        }
                    }
                }
            }

        }

        &>.header,
        &>.footer {
            height: 100%;
            background-color: white;
        }

        &>.header {
            position: relative;
            left: 0;
            top: 0;

            * {
                color: black
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 40px;
            box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.445);
            z-index: 999;
        }

        .footer {
            position: relative;
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.445);
            display: flex;
            align-items: center;
            padding: 10px 30px;

            form {
                display: flex;
                align-items: center;
                width: 100%;
                height: 80%;

                button {
                    width: 100px;
                    height: 100%;
                    border: none;
                    background-color: #428EFF;

                    &:disabled {
                        background-color: #428eff89;
                        cursor: default;
                    }
                }

                textarea {
                    height: 100%;
                    width: 100%;
                    background-color: $cl-chat-bg;
                    border: none;
                    outline: none;
                    padding-top: 5px;
                    padding-inline: 30px;
                    resize: none;

                    &::placeholder {
                        color: white;
                    }
                }
            }
        }

        .main-container {
            background-color: $cl-chat-bg;
            padding-inline: 3vw;
            padding-block: 40px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 30px;


            .no-messages {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .message-container {
                gap: 30px;
                display: flex;
                position: relative;
                $user-profile-padding: 0px;
                $user-profile-height: 60px;

                .user {
                    gap: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-block: $user-profile-padding;

                    .profile-picture {
                        height: $user-profile-height;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                    }

                    .username {
                        color: rgb(0, 0, 0);
                        font-weight: 600;
                        font-size: .7em;
                    }
                }

                .edit-message-container {
                    position: absolute;
                    z-index: 99;
                    left: 0;
                    top: 0;
                    width: 105%;
                    height: 105%;
                    background-color: $cl-secondary;
                    padding: 10px 10px 5px 10px;
                    display: flex;
                    flex-direction: column;

                    textarea {
                        direction: ltr;
                        padding: 5px 10px;
                        outline: none;
                        border: none;
                        background-color: lighten($cl-secondary, 5%);
                        color: white;
                        resize: none;
                        margin-bottom: 8px;
                        height: 100%;
                        font-size: .8em;
                    }

                    .actions {
                        display: flex;
                        justify-content: space-between;
                        padding-inline: 5px;
                        margin-bottom: 3px;

                        .cancel {
                            font-size: .6rem;
                            font-weight: regular;
                            text-align: left;
                            color: rgb(168, 167, 167);

                            &:hover {
                                color: white;
                            }
                        }

                        .submit {
                            font-size: .6rem;
                            color: #7baffc;

                            &:disabled {
                                color: #7baffc88;
                            }
                        }
                    }
                }

                .message {
                    background-color: $cl-message-bg;
                    max-width: 600px;
                    min-width: 200px;
                    padding: 40px 50px;
                    position: relative;
                    font-size: .9em;

                    .message-text {
                        line-height: 30px;
                        font-weight: 500;
                        max-width: 100%;
                        overflow-wrap: break-word;
                        color: $cl-message-text;
                    }

                    &::before {
                        position: absolute;
                        background-color: $cl-message-bg;
                        content: "";
                        left: 0;
                        top: ($user-profile-height / 2) + $user-profile-padding;
                        width: 10px;
                        transform: rotate(45deg) translateX(-40%);
                        aspect-ratio: 1 / 1;
                    }


                    .created-at,
                    .dropdown-container {
                        position: absolute;

                        &.dropdown-container {

                            right: 15px;
                            top: 15px;
                            box-sizing: content-box;


                            &:hover {
                                .dropdown-icon {
                                    span {
                                        background-color: black;
                                    }
                                }

                                .dropdown-menu {
                                    display: block;
                                }
                            }

                            .dropdown-icon {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 2px;

                                span {
                                    background-color: #847F7F;
                                    width: 3px;
                                    aspect-ratio: 1 / 1;
                                    border-radius: 50%;

                                }
                            }

                            &>.dropdown-menu {
                                display: none;
                                min-width: 100px;
                                position: absolute;
                                right: 0;
                                top: -10px;
                                box-sizing: content-box;
                                padding-inline: 15px;

                                &>ul {
                                    display: flex;
                                    flex-direction: column;
                                    color: white;
                                    list-style: none;
                                    gap: 3px;

                                    &>li {
                                        background-color: rgb(37, 37, 37);
                                        border-radius: 5px;

                                        &:hover {
                                            background-color: $cl-custom-orange;
                                        }

                                        button {
                                            width: 150px;
                                            padding: 7px 30px;
                                            font-size: .6rem;
                                            font-weight: 500;
                                            letter-spacing: 1px;
                                        }
                                    }
                                }
                            }

                        }

                        &.created-at {
                            top: 10px;
                            left: 35px;
                            color: #847F7F;
                            font-size: .6em;
                        }


                    }
                }

                &[itsme=true] {

                    direction: rtl;

                    .message {
                        background-color: $cl-my-message-bg;

                        .message-text {
                            direction: ltr;
                            color: $cl-my-message-text;
                        }

                        &::before {
                            background-color: $cl-my-message-bg;
                            right: 0;
                            transform: rotate(45deg) translateX(40%);
                        }
                    }

                    .created-at,
                    .dropdown-container {
                        position: absolute;
                        color: black;

                        &.created-at {
                            right: 35px;
                            color: #c3c3c3;
                        }

                        &.dropdown-container {
                            left: 15px;
                            right: unset;

                            &:hover {
                                .dropdown-container {
                                    span {
                                        background-color: white;
                                    }
                                }
                            }

                            .dropdown-icon {
                                span {
                                    background-color: #c3c3c3;
                                }
                            }

                            &>.dropdown-menu {
                                right: unset;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}